<header class="px-4 sm:px-6 lg:px-8">
  <h1 class="text-brand mt-10 flex items-center text-4xl font-semibold leading-6 mx-4">
    👀 Bird Watcher
  </h1>
</header>
<main class="p-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-8xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
